.cabecalho {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 30px;
    background-color: #420d8c;
    overflow: hidden;
}

.logo {
    width: 100px;
    margin-right: 20px;
}

.cabecalho button {
    background-color: #420d8c;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    padding: 10px;
    font-weight: 100;
    border: 1px solid #fff;
    cursor: pointer;
    color: #fff;
    margin-left: 10px;
}

.cabecalho button:hover {
    background-color: #44308c;
}